<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Account Created</title>
    </head>
    <style>
        body {
            background-color: rgb(16, 152, 16);
        }
    </style>
    <body>
        <center>
        <h1 style="text-align: center; text-align: left; color:white; font-family: 'Courier New', Courier, monospace;">Your account has succesfully been created</h1>
        <input type="button" value="Return to login" class="button button2">
        </center>
    </body>
</html>