<!DOCTYPE html>
<html lang"en" dir="ltr">

<head>
    <link rel="stylesheet" href="../static/styles.css">
    <title>database</title>
</head>

<body>
    <center>
        <div class="HomepageTitle">
            <h1>HOMEWORK DATA</h1>
        </div>
    </center>
    <table>
        <tr>
            <th>User</th>
            <th>Subject</th>
            <th>Homework</th>
            <th>Due</th>
            <th>Delete Row</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>
                <form action="/delete" method="post">
                    <input type="hidden" name="item_name" value="{{item[0]}}">
                    <div class = deletebutton>
                        <input type="submit" value="delete">
                    </div>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>
    <center>
        <form action="/add" method="post">
            <div class="Text">
                <h2>Enter a new task</h2>
            </div>

            <input type="data" name="item_name" placeholder="UserID">
            <input type="data" name="item_subject" placeholder="Subject">
            <input type="data" name="item_homework" placeholder="Homework Task">
            <input type="data" name="item_due" placeholder="Due">
            <input type="submit" value="add">
        </form>
    </center>
</body>

</html>