<!DOCTYPE html>
<html lang"en" dir="ltr">

<head>
  <link rel="stylesheet" href="../static/styles.css">
  <title>Home</title>

  <style>

  .TextPage {
    background-color: rgb(52, 52, 52);
    width: 800px;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    color:rgb(255, 255, 255); font-family: 'Poppins', sans-serif;
    border-radius: 25px;
  }

  .HomepageTitle {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
  }
  </style>
</head>

<body>
  <center>

  <div class="HomepageTitle"><h1>HOMEWORK TRACKER</h1></div>
  <div class="TextPage">
  <h2>Welcome to the Homework Tracker</h2>
  <p>Read the following below to learn more about the website</p>
  <p>The homework tracker is a website that you can use to login and track your homework or to keep notes and dates of future tasks.
    in order to use the website you must login or create an account to be able to access your own personal homework tracker.
  </p>
  </div>

  <li><a href="/login">Login</a></li>
  <li><a href="signup">Sign Up</a></li>
  </center>
</body>