<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Logged In</title>
    </head>
    <!--<style>
        body {
            background-color: rgb(16, 152, 16);
            height: 100vh;
        }
    </style>-->
    <body>
        <center>
            <div class="Text">
                <h1>Successfully logged in</h1>
            </div>

            <form method="GET" action="database">
                <input type="submit" value="Continue to page"">
            </form>
        </center>
    </body>
</html>